<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Movie Review App</title>
    <link rel="stylesheet" type="text/css" href= "./index.css" >
</head>
<body>
    <div>
        <h1>Movie Review App</h1>
        <p>Enter a film title</p>
        <form id="form" action="/search" method="GET">
            <input type="search" name="title" placeholder="Enter a film title"> 
            <input type="submit" id="search" value="search"> 
        </form>
        <p>You searched for the following movie: {{searchString}}</p>

        <article>
            <div class="image filmImage">
                <img src={{poster}} alt="film poster" />
            </div>
            <div class="results information">
                <h2>{{title}} <span>({{year}})</span></h2>
                <p>{{genre}}</p>
                <p>Director:  <span>{{director}}</span></p>
                <p>Stars:  <span>{{actors}}</span></p>
                
            </div>
            <div class="review">
                <form>
                    <textarea name="userReview" rows="10"  placeholder="Write your review here"></textarea>
                </form>
            </div>
        </article>

    </div>
</body>
</html>